body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  color: #333;
  transform: scale(1.25); 
  transform-origin: top
}

.dark-mode {
  background-color: black;
  color: white;
}
header, section {
  margin-bottom: 2em;
}

header h1 {
  font-size: 2em;
}

section h2 {
  font-size: 1.5em;
}

a {
  color: #0056b3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul { 
	list-style-type: disc;
	padding-left: 20px; 
}

ul li {
	line-height: 1.5;
	margin-bottom: 1rem;
}

ul li:last-child { 
	margin-bottom: 0;
}
